/* .container{
    display: grid;
    grid-template-columns: 20% 90%;
   
} */
*{
    padding: 0;
    margin: 0;
}
.left {
    height: 100%;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: brown; */
    background-color: #faf3ef;
    padding-top: 20px;
  }

.logo{
    width:95%;
}
.container ul{
    list-style: none;
    padding-top: 30%;
    text-align: center;
    padding: 20px;

}
.admin{
  color: #bd8334;  
}

.container li{
    padding: 10% ;
    font-size: 1.2rem;
    border-bottom: 1px solid rgb(172, 169, 169);

}
.container li:hover{
    border-bottom: 2px solid #bd8334;
}

.r-top{
    background-color: #faf3ef;
    height: 10vh;
    align-items: right;
    width:100vw;
    box-shadow: 1px 5px 20px 1px rgb(252, 229, 198);
    position: fixed;
   
    
}
.r-top .info{
    margin-left: 50%;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    
}
.r-top input{
    width:40%;
    border-radius: 17px;
    border: none;
    box-shadow: 1px 1px 4px 1px rgb(158, 155, 152);
}
.r-bottom{
    margin-left: 15%;
    padding-left: 0;
     padding: 100px; 

    border-radius: 1px;
    color: black;
    display: flex;
flex-wrap: wrap;
justify-content: space-between;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
}
.active{
    background-color: #bd8334;
}
.row1{
    margin-left: 15%;
    padding-left: 0;
     padding: 100px; 

    border-radius: 1px;
    color: black;
  
    align-content: space-between;
    align-items: center;
    justify-content: space-between;   
}



